<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidu.dao.ErpFinanceMapper" >
  <resultMap id="BaseResultMap" type="com.yidu.model.ErpFinance" >
    <id column="FINANCE_ID" property="financeId" jdbcType="VARCHAR" />
    <result column="FINANCE_SERIAL" property="financeSerial" jdbcType="VARCHAR" />
    <result column="FINANCE_NUM" property="financeNum" jdbcType="DECIMAL" />
    <result column="CREATAE" property="creatae" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="VARCHAR" />
    <result column="ISVA" property="isva" jdbcType="INTEGER" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    FINANCE_ID, FINANCE_SERIAL, FINANCE_NUM, CREATAE, CREATETIME, ISVA, REMARK
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from erp_finance
    where FINANCE_ID = #{financeId,jdbcType=VARCHAR}
  </select>
  <select id="findAll" resultMap="BaseResultMap">
   select * from erp_finance where isva = '1'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from erp_finance
    where FINANCE_ID = #{financeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yidu.model.ErpFinance" >
    insert into erp_finance (FINANCE_ID, FINANCE_SERIAL, FINANCE_NUM, 
      CREATAE, CREATETIME, ISVA, 
      REMARK)
    values (#{financeId,jdbcType=VARCHAR}, #{financeSerial,jdbcType=VARCHAR}, #{financeNum,jdbcType=DECIMAL}, 
      #{creatae,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, #{isva,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yidu.model.ErpFinance" >
  	<selectKey keyProperty="financeId" order="BEFORE" resultType="java.lang.String">
  		select UUID()
  	</selectKey>
    insert into erp_finance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="financeId != null" >
        FINANCE_ID,
      </if>
      <if test="financeSerial != null" >
        FINANCE_SERIAL,
      </if>
      <if test="financeNum != null" >
        FINANCE_NUM,
      </if>
      <if test="creatae != null" >
        CREATAE,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="isva != null" >
        ISVA,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="financeId != null" >
        #{financeId,jdbcType=VARCHAR},
      </if>
      <if test="financeSerial != null" >
        #{financeSerial,jdbcType=VARCHAR},
      </if>
      <if test="financeNum != null" >
        #{financeNum,jdbcType=DECIMAL},
      </if>
      <if test="creatae != null" >
        #{creatae,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="isva != null" >
        #{isva,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yidu.model.ErpFinance" >
    update erp_finance
    <set >
      <if test="financeSerial != null" >
        FINANCE_SERIAL = #{financeSerial,jdbcType=VARCHAR},
      </if>
      <if test="financeNum != null" >
        FINANCE_NUM = #{financeNum,jdbcType=DECIMAL},
      </if>
      <if test="creatae != null" >
        CREATAE = #{creatae,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="isva != null" >
        ISVA = #{isva,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where FINANCE_ID = #{financeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yidu.model.ErpFinance" >
    update erp_finance
    set FINANCE_SERIAL = #{financeSerial,jdbcType=VARCHAR},
      FINANCE_NUM = #{financeNum,jdbcType=DECIMAL},
      CREATAE = #{creatae,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=VARCHAR},
      ISVA = #{isva,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR}
    where FINANCE_ID = #{financeId,jdbcType=VARCHAR}
  </update>
  <select id="financeSerial" resultType="java.lang.String" parameterType="java.lang.String">
  	select finance_serial from erp_finance where finance_serial like
  	concat(concat('%'#{date}),'%') order by createtime desc limit 1;
  </select>
  <select id="findListFinance" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from erp_finance where isva =1 limit 0,1;
  </select>
  <select id="findDimFinance" resultMap="BaseResultMap" parameterType="Map">
  	select
  	<include refid="Base_Column_List" />
  	from erp_finance
  	<where>
  	<if test="pricer !=''">
  		(
  			createtime like concat('%',#{pricer},'%')
  			or
  			finance_num like concat('%',#{pricer},'%')
  			or
  			creatae like concat('%',#{pricer},'%')
  		)
  	</if>
  	</where>
  	and isva =0;
  </select>
</mapper>