<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidu.dao.ErpKinordDetailMapper" >
  <resultMap id="BaseResultMap" type="com.yidu.model.ErpKinordDetail" >
    <id column="ORD_DET_ID" property="ordDetId" jdbcType="VARCHAR" />
    <result column="KINORD_ID" property="kinordId" jdbcType="VARCHAR" />
    <result column="KIN_ID" property="kinId" jdbcType="VARCHAR" />
    <result column="ORD_NUM" property="ordNum" jdbcType="DECIMAL" />
    <result column="ORD_PRICE" property="ordPrice" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CERACER" property="ceracer" jdbcType="VARCHAR" />
    <result column="CERACERTIME" property="ceracertime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ORD_DET_ID, KINORD_ID, KIN_ID, ORD_NUM, ORD_PRICE, REMARK, CERACER, CERACERTIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from erp_kinord_detail
    where ORD_DET_ID = #{ordDetId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from erp_kinord_detail
    where ORD_DET_ID = #{ordDetId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yidu.model.ErpKinordDetail" >
    insert into erp_kinord_detail (ORD_DET_ID, KINORD_ID, KIN_ID, 
      ORD_NUM, ORD_PRICE, REMARK, 
      CERACER, CERACERTIME)
    values (#{ordDetId,jdbcType=VARCHAR}, #{kinordId,jdbcType=VARCHAR}, #{kinId,jdbcType=VARCHAR}, 
      #{ordNum,jdbcType=DECIMAL}, #{ordPrice,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{ceracer,jdbcType=VARCHAR}, #{ceracertime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yidu.model.ErpKinordDetail" >
    insert into erp_kinord_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ordDetId != null" >
        ORD_DET_ID,
      </if>
      <if test="kinordId != null" >
        KINORD_ID,
      </if>
      <if test="kinId != null" >
        KIN_ID,
      </if>
      <if test="ordNum != null" >
        ORD_NUM,
      </if>
      <if test="ordPrice != null" >
        ORD_PRICE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="ceracer != null" >
        CERACER,
      </if>
      <if test="ceracertime != null" >
        CERACERTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ordDetId != null" >
        #{ordDetId,jdbcType=VARCHAR},
      </if>
      <if test="kinordId != null" >
        #{kinordId,jdbcType=VARCHAR},
      </if>
      <if test="kinId != null" >
        #{kinId,jdbcType=VARCHAR},
      </if>
      <if test="ordNum != null" >
        #{ordNum,jdbcType=DECIMAL},
      </if>
      <if test="ordPrice != null" >
        #{ordPrice,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ceracer != null" >
        #{ceracer,jdbcType=VARCHAR},
      </if>
      <if test="ceracertime != null" >
        #{ceracertime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yidu.model.ErpKinordDetail" >
    update erp_kinord_detail
    <set >
      <if test="kinordId != null" >
        KINORD_ID = #{kinordId,jdbcType=VARCHAR},
      </if>
      <if test="kinId != null" >
        KIN_ID = #{kinId,jdbcType=VARCHAR},
      </if>
      <if test="ordNum != null" >
        ORD_NUM = #{ordNum,jdbcType=DECIMAL},
      </if>
      <if test="ordPrice != null" >
        ORD_PRICE = #{ordPrice,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ceracer != null" >
        CERACER = #{ceracer,jdbcType=VARCHAR},
      </if>
      <if test="ceracertime != null" >
        CERACERTIME = #{ceracertime,jdbcType=VARCHAR},
      </if>
    </set>
    where ORD_DET_ID = #{ordDetId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yidu.model.ErpKinordDetail" >
    update erp_kinord_detail
    set KINORD_ID = #{kinordId,jdbcType=VARCHAR},
      KIN_ID = #{kinId,jdbcType=VARCHAR},
      ORD_NUM = #{ordNum,jdbcType=DECIMAL},
      ORD_PRICE = #{ordPrice,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      CERACER = #{ceracer,jdbcType=VARCHAR},
      CERACERTIME = #{ceracertime,jdbcType=VARCHAR}
    where ORD_DET_ID = #{ordDetId,jdbcType=VARCHAR}
  </update>
</mapper>