<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidu.dao.ErpProlistmxsmallMapper" >
  <resultMap id="BaseResultMap" type="com.yidu.model.ErpProlistmxsmall" >
    <id column="FDPROLISTMX_ID" property="fdprolistmxId" jdbcType="VARCHAR" />
    <result column="FDPRO_ID" property="fdproId" jdbcType="VARCHAR" />
    <result column="KIN_ID" property="kinId" jdbcType="VARCHAR" />
    <result column="FDPROLISTMX_NUMBER" property="fdprolistmxNumber" jdbcType="VARCHAR" />
    <result column="FDPROLISTMX_MONEY" property="fdprolistmxMoney" jdbcType="DECIMAL" />
    <result column="FDPROLISTMX_COUNT" property="fdprolistmxCount" jdbcType="INTEGER" />
    <result column="FDPROLISTMX_TIME" property="fdprolistmxTime" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="ISVA" property="isva" jdbcType="VARCHAR" />
    <result column="KIN_NAME" property="kinName" jdbcType="VARCHAR" />
    <result column="KIN_PRICE" property="kinPrice" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    FDPROLISTMX_ID, FDPRO_ID, KIN_ID, FDPROLISTMX_NUMBER, FDPROLISTMX_MONEY, FDPROLISTMX_COUNT, 
    FDPROLISTMX_TIME, REMARK
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from erp_prolistmxsmall
    where FDPROLISTMX_ID = #{fdprolistmxId,jdbcType=VARCHAR}
  </select>
  <!-- 查询单个对象 -->
  <select id="selectBankNew" resultMap="BaseResultMap" parameterType="java.lang.String" >
   SELECT * FROM erp_prolistmxsmall s ,erp_kinds k WHERE s.KIN_ID = k.KIN_ID AND  s.FDPRO_ID =  #{fdproId,jdbcType=VARCHAR}
  </select>
  <select id="getMallById"  resultMap="BaseResultMap" parameterType="java.lang.String" >
  SELECT * FROM erp_prolistmxsmall mall,erp_fdproform fd,erp_kinds kind WHERE mall.KIN_ID=kind.KIN_ID AND mall.FDPRO_ID=fd.FDPRO_ID AND fd.ISVA='1' AND kind.ISVA='1' AND mall.ISVA='1' AND fd.FDPRO_ID=#{fdproId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from erp_prolistmxsmall
    where FDPROLISTMX_ID = #{fdprolistmxId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteFd" parameterType="java.lang.String">
  	DELETE  FROM erp_prolistmxsmall WHERE FDPRO_ID=#{fdproId};
  </delete>
  <insert id="insert" parameterType="com.yidu.model.ErpProlistmxsmall" >
    insert into erp_prolistmxsmall (FDPROLISTMX_ID, FDPRO_ID, KIN_ID, 
      FDPROLISTMX_NUMBER, FDPROLISTMX_MONEY, FDPROLISTMX_COUNT, 
      FDPROLISTMX_TIME, REMARK)
    values (#{fdprolistmxId,jdbcType=VARCHAR}, #{fdproId,jdbcType=VARCHAR}, #{kinId,jdbcType=VARCHAR}, 
      #{fdprolistmxNumber,jdbcType=VARCHAR}, #{fdprolistmxMoney,jdbcType=DECIMAL}, #{fdprolistmxCount,jdbcType=INTEGER}, 
      #{fdprolistmxTime,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yidu.model.ErpProlistmxsmall" >
    insert into erp_prolistmxsmall
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fdprolistmxId != null" >
        FDPROLISTMX_ID,
      </if>
      <if test="fdproId != null" >
        FDPRO_ID,
      </if>
      <if test="kinId != null" >
        KIN_ID,
      </if>
      <if test="fdprolistmxNumber != null" >
        FDPROLISTMX_NUMBER,
      </if>
      <if test="fdprolistmxMoney != null" >
        FDPROLISTMX_MONEY,
      </if>
      <if test="fdprolistmxCount != null" >
        FDPROLISTMX_COUNT,
      </if>
      <if test="fdprolistmxTime != null" >
        FDPROLISTMX_TIME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="isva != null" >
        ISVA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fdprolistmxId != null" >
        #{fdprolistmxId,jdbcType=VARCHAR},
      </if>
      <if test="fdproId != null" >
        #{fdproId,jdbcType=VARCHAR},
      </if>
      <if test="kinId != null" >
        #{kinId,jdbcType=VARCHAR},
      </if>
      <if test="fdprolistmxNumber != null" >
        #{fdprolistmxNumber,jdbcType=VARCHAR},
      </if>
      <if test="fdprolistmxMoney != null" >
        #{fdprolistmxMoney,jdbcType=DECIMAL},
      </if>
      <if test="fdprolistmxCount != null" >
        #{fdprolistmxCount,jdbcType=INTEGER},
      </if>
      <if test="fdprolistmxTime != null" >
        #{fdprolistmxTime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isva != null" >
        #{isva,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yidu.model.ErpProlistmxsmall" >
    update erp_prolistmxsmall
    <set >
      <if test="fdproId != null" >
        FDPRO_ID = #{fdproId,jdbcType=VARCHAR},
      </if>
      <if test="kinId != null" >
        KIN_ID = #{kinId,jdbcType=VARCHAR},
      </if>
      <if test="fdprolistmxNumber != null" >
        FDPROLISTMX_NUMBER = #{fdprolistmxNumber,jdbcType=VARCHAR},
      </if>
      <if test="fdprolistmxMoney != null" >
        FDPROLISTMX_MONEY = #{fdprolistmxMoney,jdbcType=DECIMAL},
      </if>
      <if test="fdprolistmxCount != null" >
        FDPROLISTMX_COUNT = #{fdprolistmxCount,jdbcType=INTEGER},
      </if>
      <if test="fdprolistmxTime != null" >
        FDPROLISTMX_TIME = #{fdprolistmxTime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where FDPROLISTMX_ID = #{fdprolistmxId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yidu.model.ErpProlistmxsmall" >
    update erp_prolistmxsmall
    set FDPRO_ID = #{fdproId,jdbcType=VARCHAR},
      KIN_ID = #{kinId,jdbcType=VARCHAR},
      FDPROLISTMX_NUMBER = #{fdprolistmxNumber,jdbcType=VARCHAR},
      FDPROLISTMX_MONEY = #{fdprolistmxMoney,jdbcType=DECIMAL},
      FDPROLISTMX_COUNT = #{fdprolistmxCount,jdbcType=INTEGER},
      FDPROLISTMX_TIME = #{fdprolistmxTime,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where FDPROLISTMX_ID = #{fdprolistmxId,jdbcType=VARCHAR}
  </update>
  <update id="updateIsva" parameterType="java.lang.String" >
  	UPDATE erp_prolistmxsmall SET isva = 0 WHERE FDPROLISTMX_ID = #{fdprolistmxId,jdbcType=VARCHAR};
  </update>
</mapper>