<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidu.dao.ErpPactMapper" >
  <resultMap id="BaseResultMap" type="com.yidu.model.ErpPact" >
    <id column="PACT_ID" property="pactId" jdbcType="VARCHAR" />
    <result column="PUR_DET_ID" property="purDetId" jdbcType="VARCHAR" />
    <result column="APPLY_ID" property="applyId" jdbcType="VARCHAR" />
    <result column="PACT_TITLE" property="pactTitle" jdbcType="VARCHAR" />
    <result column="PACT_NUMBER" property="pactNumber" jdbcType="VARCHAR" />
    <result column="PACT_SIGNTIME" property="pactSigntime" jdbcType="DATE" />
    <result column="PACT_TEXT" property="pactText" jdbcType="VARCHAR" />
    <result column="PARTA_NAME" property="partaName" jdbcType="VARCHAR" />
    <result column="PARTB_NAME" property="partbName" jdbcType="VARCHAR" />
    <result column="PACT_ENDTIME" property="pactEndtime" jdbcType="VARCHAR" />
    <result column="PACT_ISVO" property="pactIsvo" jdbcType="VARCHAR" />
    <result column="ISVA" property="isva" jdbcType="INTEGER" />
    <result column="CREATER" property="creater" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PACT_ID, PUR_DET_ID, APPLY_ID, PACT_TITLE, PACT_NUMBER, PACT_SIGNTIME, PACT_TEXT, 
    PARTA_NAME, PARTB_NAME, PACT_ENDTIME, PACT_ISVO, ISVA, CREATER, CREATETIME, REMARK
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from erp_pact
    where PACT_ID = #{pactId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from erp_pact
    where PACT_ID = #{pactId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yidu.model.ErpPact" >
    insert into erp_pact (PACT_ID, PUR_DET_ID, APPLY_ID, 
      PACT_TITLE, PACT_NUMBER, PACT_SIGNTIME, 
      PACT_TEXT, PARTA_NAME, PARTB_NAME, 
      PACT_ENDTIME, PACT_ISVO, ISVA, 
      CREATER, CREATETIME, REMARK
      )
    values (#{pactId,jdbcType=VARCHAR}, #{purDetId,jdbcType=VARCHAR}, #{applyId,jdbcType=VARCHAR}, 
      #{pactTitle,jdbcType=VARCHAR}, #{pactNumber,jdbcType=VARCHAR}, #{pactSigntime,jdbcType=DATE}, 
      #{pactText,jdbcType=VARCHAR}, #{partaName,jdbcType=VARCHAR}, #{partbName,jdbcType=VARCHAR}, 
      #{pactEndtime,jdbcType=VARCHAR}, #{pactIsvo,jdbcType=VARCHAR}, #{isva,jdbcType=INTEGER}, 
      #{creater,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yidu.model.ErpPact" >
   <selectKey keyProperty="pactId" order="BEFORE" resultType="java.lang.String">
			select UUID()
		</selectKey>
    insert into erp_pact
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pactId != null" >
        PACT_ID,
      </if>
      <if test="purDetId != null" >
        PUR_DET_ID,
      </if>
      <if test="applyId != null" >
        APPLY_ID,
      </if>
      <if test="pactTitle != null" >
        PACT_TITLE,
      </if>
      <if test="pactNumber != null" >
        PACT_NUMBER,
      </if>
      <if test="pactSigntime != null" >
        PACT_SIGNTIME,
      </if>
      <if test="pactText != null" >
        PACT_TEXT,
      </if>
      <if test="partaName != null" >
        PARTA_NAME,
      </if>
      <if test="partbName != null" >
        PARTB_NAME,
      </if>
      <if test="pactEndtime != null" >
        PACT_ENDTIME,
      </if>
      <if test="pactIsvo != null" >
        PACT_ISVO,
      </if>
      <if test="isva != null" >
        ISVA,
      </if>
      <if test="creater != null" >
        CREATER,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pactId != null" >
        #{pactId,jdbcType=VARCHAR},
      </if>
      <if test="purDetId != null" >
        #{purDetId,jdbcType=VARCHAR},
      </if>
      <if test="applyId != null" >
        #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="pactTitle != null" >
        #{pactTitle,jdbcType=VARCHAR},
      </if>
      <if test="pactNumber != null" >
        #{pactNumber,jdbcType=VARCHAR},
      </if>
      <if test="pactSigntime != null" >
        #{pactSigntime,jdbcType=DATE},
      </if>
      <if test="pactText != null" >
        #{pactText,jdbcType=VARCHAR},
      </if>
      <if test="partaName != null" >
        #{partaName,jdbcType=VARCHAR},
      </if>
      <if test="partbName != null" >
        #{partbName,jdbcType=VARCHAR},
      </if>
      <if test="pactEndtime != null" >
        #{pactEndtime,jdbcType=VARCHAR},
      </if>
      <if test="pactIsvo != null" >
        #{pactIsvo,jdbcType=VARCHAR},
      </if>
      <if test="isva != null" >
        #{isva,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yidu.model.ErpPact" >
    update erp_pact
    <set >
      <if test="purDetId != null" >
        PUR_DET_ID = #{purDetId,jdbcType=VARCHAR},
      </if>
      <if test="applyId != null" >
        APPLY_ID = #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="pactTitle != null" >
        PACT_TITLE = #{pactTitle,jdbcType=VARCHAR},
      </if>
      <if test="pactNumber != null" >
        PACT_NUMBER = #{pactNumber,jdbcType=VARCHAR},
      </if>
      <if test="pactSigntime != null" >
        PACT_SIGNTIME = #{pactSigntime,jdbcType=DATE},
      </if>
      <if test="pactText != null" >
        PACT_TEXT = #{pactText,jdbcType=VARCHAR},
      </if>
      <if test="partaName != null" >
        PARTA_NAME = #{partaName,jdbcType=VARCHAR},
      </if>
      <if test="partbName != null" >
        PARTB_NAME = #{partbName,jdbcType=VARCHAR},
      </if>
      <if test="pactEndtime != null" >
        PACT_ENDTIME = #{pactEndtime,jdbcType=VARCHAR},
      </if>
      <if test="pactIsvo != null" >
        PACT_ISVO = #{pactIsvo,jdbcType=VARCHAR},
      </if>
      <if test="isva != null" >
        ISVA = #{isva,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where PACT_ID = #{pactId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yidu.model.ErpPact" >
    update erp_pact
    set PUR_DET_ID = #{purDetId,jdbcType=VARCHAR},
      APPLY_ID = #{applyId,jdbcType=VARCHAR},
      PACT_TITLE = #{pactTitle,jdbcType=VARCHAR},
      PACT_NUMBER = #{pactNumber,jdbcType=VARCHAR},
      PACT_SIGNTIME = #{pactSigntime,jdbcType=DATE},
      PACT_TEXT = #{pactText,jdbcType=VARCHAR},
      PARTA_NAME = #{partaName,jdbcType=VARCHAR},
      PARTB_NAME = #{partbName,jdbcType=VARCHAR},
      PACT_ENDTIME = #{pactEndtime,jdbcType=VARCHAR},
      PACT_ISVO = #{pactIsvo,jdbcType=VARCHAR},
      ISVA = #{isva,jdbcType=INTEGER},
      CREATER = #{creater,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where PACT_ID = #{pactId,jdbcType=VARCHAR}
  </update>
  <select id="pactNumbe" resultType="java.lang.String" parameterType="java.lang.String">
		select PACT_NUMBER from erp_pact where PACT_NUMBER like
		concat(concat('%'#{date}),'%') order by PACT_SIGNTIME desc limit 1;
  </select>
  <select id="findListPact" resultMap="BaseResultMap">
  		select
  		<include refid="Base_Column_List" />
  		from erp_pact where isva=0;
  </select>
  <select id="findDimPact" resultMap="BaseResultMap" parameterType="Map">
		select
		<include refid="Base_Column_List" />
		<where>
			<if test="pricer !=''">
				(
					PACT_SIGNTIME like concat('%',#{pricer},'%')
					or
					PACT_NUMBER like concat('%',#{pricer},'%')
					or
					CREATER like concat('%',#{pricer},'%')
				)
		</if>
		</where>
		and isva =0;
		</select>
</mapper>