<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidu.dao.ErpPurchaseMapper">
	<resultMap id="BaseResultMap" type="com.yidu.model.ErpPurchase">
		<id column="PURC_ID" property="purcId" jdbcType="VARCHAR" />
		<result column="PURC_SERIAL" property="purcSerial" jdbcType="VARCHAR" />
		<result column="PURC_TITLE" property="purcTitle" jdbcType="VARCHAR" />
		<result column="PURC_NAME" property="purcName" jdbcType="VARCHAR" />
		<result column="STATE" property="state" jdbcType="INTEGER" />
		<result column="PURC_TIME" property="purcTime" jdbcType="VARCHAR" />
		<result column="CREATER" property="creater" jdbcType="VARCHAR" />
		<result column="CREATETIME" property="createtime" jdbcType="VARCHAR" />
		<result column="ISVA" property="isva" jdbcType="INTEGER" />
		<result column="PURC_TOTAL_PRICE" property="purcTotalPrice"
			jdbcType="DOUBLE" />
			<collection property="det" ofType="ErpPurchaseDetails">  
		    <id column="PUR_DET_ID" property="purDetId" jdbcType="VARCHAR" />
		    <result column="PURC_ID" property="purcId" jdbcType="VARCHAR" />
		    <result column="RAW_ID" property="rowId" jdbcType="VARCHAR" />
		    <result column="PUR_DET_SERIAL" property="purDetSerial" jdbcType="VARCHAR" />
		    <result column="PUR_TOTAL_NUMBER" property="purcTotalNumber" jdbcType="INTEGER" />
		    <result column="PUR_TOTAL_PRICE" property="purcTotalPrice" jdbcType="DOUBLE" />
		    <result column="RAW_NAME" property="rawName" jdbcType="VARCHAR" />
		     <result column="KIN_NAME" property="kinName" jdbcType="VARCHAR" />
		      <result column="KIN_ID" property="kinId" jdbcType="VARCHAR" />
     </collection>
	</resultMap>
	<sql id="Base_Column_List">
		PURC_ID, PURC_SERIAL, PURC_TITLE, PURC_NAME, STATE,
		PURC_TIME, CREATER,
		CREATETIME,
		ISVA,PURC_TOTAL_PRICE
	</sql>
	<select id="selectshow" resultMap="BaseResultMap">
	 	select * from erp_purchase where isva=1
	</select>
	
	<!-- 根据ID查询采购表,采购详情表及原材料表的数据 -->
	<select id="selectById" resultType="java.util.HashMap"
		parameterType="java.lang.String">
		SELECT
		ee.PURC_NAME,ee.PURC_TITLE,ee.PURC_TOTAL_PRICE,ee.PURC_TIME,es.PUR_TOTAL_NUMBER,es.PUR_TOTAL_PRICE,ew.RAW_NAME
		FROM erp_purchase ee,erp_purchase_details es,erp_raw ew WHERE
		ee.PURC_ID=es.PURC_ID AND es.RAW_ID=ew.RAW_ID AND
		ee.PURC_ID=#{purcId}
	</select>
	<!-- 根据ID查询采购表,采购详情表及货品的数据 -->
	<select id="selectKindsById" resultType="java.util.HashMap"
		parameterType="java.lang.String">
		SELECT
		ee.PURC_NAME,ee.PURC_TIME,es.KIN_NAME,eps.PUR_TOTAL_NUMBER,es.KIN_PRICE,eps.PUR_TOTAL_PRICE,ee.PURC_TOTAL_PRICE
		FROM erp_purchase ee,erp_purchase_details eps,erp_kinds es WHERE
		ee.PURC_ID=eps.PURC_ID AND eps.RAW_ID=es.KIN_ID AND ee.CREATER=2 AND
		ee.PURC_ID=#{purcId}
	</select>
	<!-- 查询采购表数据(原材料) -->
	<select id="selectAll" resultMap="BaseResultMap" parameterType="map">
		select * from erp_purchase where
		<if test="keywords != null and keywords != ''">
			(PURC_ID like #{keywords}
			or PURC_SERIAL like #{keywords}
			or PURC_TITLE like #{keywords}
			or PURC_NAME like #{keywords}) and
		</if>
		isva=1 and creater=1
		ORDER BY PURC_TIME DESC limit #{pages.firstRows},#{pages.maxResult}
	</select>
	<!-- 查询采购表数据(成品) -->
	<select id="selectAlls" resultMap="BaseResultMap" parameterType="map">
		select * from erp_purchase where
		<if test="keywords != null and keywords != ''">
			(PURC_ID like #{keywords}
			or PURC_SERIAL like #{keywords}
			or PURC_TITLE like #{keywords}
			or PURC_NAME like #{keywords}) and
		</if>
		isva=1 and creater=2
		ORDER BY PURC_TIME DESC limit #{pages.firstRows},#{pages.maxResult}
	</select>
	<!-- 根据ID查询采购信息（采购原材料） -->
	<select id="showErp" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT ee.PURC_TITLE,ew.RAW_NAME FROM erp_purchase ee,erp_purchase_details eps ,erp_raw ew WHERE ee.PURC_ID=eps.PURC_ID AND eps.RAW_ID=ew.RAW_ID AND ee.PURC_ID=#{purcId}
	</select>
	<!-- 根据ID查询采购信息（采购成品） -->
	<select id="showKind" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT ee.PURC_TITLE,ee.PURC_ID FROM erp_purchase ee,erp_purchase_details eps,erp_kinds es WHERE ee.PURC_ID=eps.PURC_ID AND eps.RAW_ID=es.KIN_ID AND ee.PURC_ID=#{purcId}
	</select>
	<!-- 查询单个对象 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT * FROM erp_purchase p ,erp_purchase_details d LEFT JOIN erp_raw r  ON d.RAW_ID=r.RAW_ID LEFT JOIN  erp_kinds k  ON d.RAW_ID = k.KIN_ID  WHERE d.PURC_ID=p.PURC_ID AND p.PURC_ID = #{purcId,jdbcType=VARCHAR}
	</select>
	<!-- 查询采购表行数 -->
	<select id="purchaseFindRows" resultType="int" parameterType="map">
		select count(*) from erp_purchase where
		<if test="keywords != ''">
			(PURC_ID like #{keywords}
			or PURC_SERIAL like #{keywords}
			or PURC_TITLE like #{keywords}o
		</if>
		isva=1 and creater=1
	</select>
	<!-- 查询采购表行数 -->
	<select id="purchaseFindRow" resultType="int" parameterType="map">
		select count(*) from erp_purchase where
		<if test="keywords != ''">
			(PURC_ID like #{keywords}
			or PURC_SERIAL like #{keywords}
			or PURC_TITLE like #{keywords}
			or PURC_NAME like #{keywords}) and
		</if>
		isva=1 and creater=2
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		erp_purchase
		where PURC_ID = #{purcId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.yidu.model.ErpPurchase">
		<selectKey keyProperty="purcId" resultType="string" order="BEFORE">
			SELECT REPLACE(UUID(),'-','') AS id;
		</selectKey>
		insert into erp_purchase (PURC_ID, PURC_SERIAL, PURC_TITLE,
		PURC_NAME,STATE, PURC_TIME,CREATER, CREATETIME, ISVA, PURC_TOTAL_PRICE
		)
		values
		(#{purcId,jdbcType=VARCHAR}, #{purcSerial,jdbcType=VARCHAR},
		#{purcTitle,jdbcType=VARCHAR},
		#{purcName,jdbcType=VARCHAR}, 1,
		#{purcTime,jdbcType=VARCHAR},
		#{creater,jdbcType=VARCHAR},
		#{createtime,jdbcType=VARCHAR}, 1, #{purcTotalPrice,jdbcType=DOUBLE}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.yidu.model.ErpPurchase">
		insert into erp_purchase
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="purcId != null">
				PURC_ID,
			</if>
			<if test="purcSerial != null">
				PURC_SERIAL,
			</if>
			<if test="purcTitle != null">
				PURC_TITLE,
			</if>
			<if test="purcName != null">
				PURC_NAME,
			</if>
			<if test="state != null">
				STATE,
			</if>
			<if test="purcTime != null">
				PURC_TIME,
			</if>
			<if test="creater != null">
				CREATER,
			</if>
			<if test="createtime != null">
				CREATETIME,
			</if>
			<if test="isva != null">
				ISVA,
			</if>
			<if test="purcTotalPrice != null">
				PURC_TOTAL_PRICE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="purcId != null">
				#{purcId,jdbcType=VARCHAR},
			</if>
			<if test="purcSerial != null">
				#{purcSerial,jdbcType=VARCHAR},
			</if>
			<if test="purcTitle != null">
				#{purcTitle,jdbcType=VARCHAR},
			</if>
			<if test="purcName != null">
				#{purcName,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=INTEGER},
			</if>
			<if test="purcTime != null">
				#{purcTime,jdbcType=VARCHAR},
			</if>
			<if test="creater != null">
				#{creater,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=VARCHAR},
			</if>
			<if test="isva != null">
				#{isva,jdbcType=INTEGER},
			</if>
			<if test="purcTotalPrice != null">
				#{purcTotalPrice,jdbcType=DOUBLE},
			</if>
		</trim>
	</insert>
	<update id="updateState" parameterType="string">
		update erp_purchase set
		ISVA=1 where PURC_ID=#{purcId,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKeySelective" parameterType="com.yidu.model.ErpPurchase">
		update erp_purchase
		<set>
			<if test="purcSerial != null">
				PURC_SERIAL = #{purcSerial,jdbcType=VARCHAR},
			</if>
			<if test="purcTitle != null">
				PURC_TITLE = #{purcTitle,jdbcType=VARCHAR},
			</if>
			<if test="purcName != null">
				PURC_NAME = #{purcName,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				STATE = #{state,jdbcType=INTEGER},
			</if>
			<if test="purcTime != null">
				PURC_TIME = #{purcTime,jdbcType=VARCHAR},
			</if>
			<if test="creater != null">
				CREATER = #{creater,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				CREATETIME = #{createtime,jdbcType=VARCHAR},
			</if>
			<if test="isva != null">
				ISVA = #{isva,jdbcType=INTEGER},
			</if>
			<if test="purcTotalPrice != null">
				PURC_TOTAL_PRICE = #{purcTotalPrice,jdbcType=DOUBLE},
			</if>
		</set>
		where PURC_ID = #{purcId,jdbcType=VARCHAR}
	</update>


	<update id="update" parameterType="com.yidu.model.ErpPurchase">
		update erp_purchase
		<set>
			<if test="purcSerial != null">
				PURC_SERIAL = #{purcSerial,jdbcType=VARCHAR},
			</if>
			<if test="purcTitle != null">
				PURC_TITLE = #{purcTitle,jdbcType=VARCHAR},
			</if>
			<if test="purcName != null">
				PURC_NAME = #{purcName,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				STATE = #{state,jdbcType=INTEGER},
			</if>
			<if test="purcTime != null">
				PURC_TIME = #{purcTime,jdbcType=VARCHAR},
			</if>
			<if test="creater != null">
				CREATER = #{creater,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				CREATETIME = #{createtime,jdbcType=VARCHAR},
			</if>
			<if test="isva != null">
				ISVA = #{isva,jdbcType=INTEGER},
			</if>
			<if test="purcTotalPrice != null">
				PURC_TOTAL_PRICE = #{purcTotalPrice,jdbcType=DOUBLE},
			</if>
		</set>
		where PURC_ID = #{purcId,jdbcType=VARCHAR}
	</update>


	<update id="updateByPrimaryKey" parameterType="com.yidu.model.ErpPurchase">
		update
		erp_purchase
		set PURC_SERIAL = #{purcSerial,jdbcType=VARCHAR},
		PURC_TITLE = #{purcTitle,jdbcType=VARCHAR},
		PURC_NAME =
		#{purcName,jdbcType=VARCHAR},
		STATE = #{state,jdbcType=INTEGER},
		PURC_TIME = #{purcTime,jdbcType=VARCHAR},
		CREATER =
		#{creater,jdbcType=VARCHAR},
		CREATETIME =
		#{createtime,jdbcType=VARCHAR},
		ISVA = #{isva,jdbcType=INTEGER}
		PURC_TOTAL_PRICE = #{purcTotalPrice,jdbcType=DOUBLE}
		where PURC_ID =
		#{purcId,jdbcType=VARCHAR}
	</update>

	<select id="findById" resultMap="BaseResultMap">
		select * from erp_purchase where
		purc_Id = #{purcId}
	</select>
	<!-- 根据年份查询12月的支出金额 -->
	<select id="findTuxing" parameterType="String" resultMap="BaseResultMap">
		SELECT
		SUBSTRING(e.PURC_TIME,6,2) AS PURC_TIME,SUM(e.PURC_TOTAL_PRICE) AS
		PURC_TOTAL_PRICE FROM erp_purchase e WHERE e.PURC_TIME LIKE#{date} GROUP
		BY SUBSTRING(e.PURC_TIME,6,2)
	</select>

	<!-- 	     用于审核采购(修改申请状态)
			  @author 胡鑫
			  @date 2017年11月21日14:32:45
			  @param map 存放的参数
			  @return 返回执行的行数
	 */
	int auditPurchase(Map<String, Object> map); -->
	<update id="auditPurchase" parameterType="map">
	update erp_purchase set state=#{state} where purc_id=#{purcId}
	</update>
</mapper>