<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidu.dao.ErpPactTypeMapper" >
  <resultMap id="BaseResultMap" type="com.yidu.model.ErpPactType" >
    <id column="PATYPE_ID" property="patypeId" jdbcType="VARCHAR" />
    <result column="PATYPE_SREIAL" property="patypeSreial" jdbcType="VARCHAR" />
    <result column="PATYPE_NAME" property="patypeName" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CRATENR" property="cratenr" jdbcType="VARCHAR" />
    <result column="CREATER" property="creater" jdbcType="VARCHAR" />
    <result column="ISVA" property="isva" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    PATYPE_ID, PATYPE_SREIAL, PATYPE_NAME, REMARK, CRATENR, CREATER, ISVA
  </sql>
  
  <!-- 查询所有 -->
  <select id="select" resultMap="BaseResultMap">
  	select * from erp_pact_type where ISVA=1
  </select>
  
  <!-- 增加 -->
  <insert id="insert" parameterType="com.yidu.model.ErpPactType" >
  
   <selectKey keyProperty="patypeId" resultType="string" order="BEFORE">
			SELECT REPLACE(UUID(),'-','') AS id;
		</selectKey>
  
    insert into erp_pact_type (PATYPE_ID, PATYPE_SREIAL, PATYPE_NAME, 
      REMARK, CRATENR, CREATER, 
      ISVA)
    values (#{patypeId,jdbcType=VARCHAR}, #{patypeSreial,jdbcType=VARCHAR}, #{patypeName,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{cratenr,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, 
      #{isva,jdbcType=INTEGER})
  </insert>
  
   <!-- 查询所有 -->
  <select id="selectshow" parameterType="map" resultMap="BaseResultMap" >
    select * from erp_pact_type
    <where>
  		<if test="key != null and key!=''">
  		 ( 
  		 	PATYPE_SREIAL like CONCAT('%',#{key},'%' )
  		 	or
  		 	PATYPE_NAME like CONCAT('%',#{key},'%' )
  		 	or
  		 	REMARK like CONCAT('%',#{key},'%' )
  		 	or
  		 	CREATER like CONCAT('%',#{key},'%' )
  		  )
  		</if>
  		and ISVA=1
  	</where>
  	limit #{page},#{limit}
  </select>
  
   <!-- 总行数 -->
   <select id="findRowCount" parameterType="map" resultType="int" >
    select COUNT(*) from erp_pact_type
    <where>
  		<if test="key != null and key!=''">
  		 ( 
  		 	PATYPE_SREIAL like CONCAT('%',#{key},'%' )
  		 	or
  		 	PATYPE_NAME like CONCAT('%',#{key},'%' )
  		 	or
  		 	REMARK like CONCAT('%',#{key},'%' )
  		 	or
  		 	CREATER like CONCAT('%',#{key},'%' )
  		  )
  		</if>
  		and ISVA=1
  	</where>
  </select>
  
  <!-- 修改或删除 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.yidu.model.ErpPactType" >
    update erp_pact_type
    <set >
      <if test="patypeSreial != null" >
        PATYPE_SREIAL = #{patypeSreial,jdbcType=VARCHAR},
      </if>
      <if test="patypeName != null" >
        PATYPE_NAME = #{patypeName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="cratenr != null" >
        CRATENR = #{cratenr,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="isva != null" >
        ISVA = #{isva,jdbcType=INTEGER},
      </if>
    </set>
    where PATYPE_ID = #{patypeId,jdbcType=VARCHAR}
  </update>
  
  
  <!-- 根据id查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from erp_pact_type
    where PATYPE_ID = #{patypeId,jdbcType=VARCHAR}
  </select>
</mapper>