<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidu.dao.ErpQualityMapper" >
  <resultMap id="BaseResultMap" type="com.yidu.model.ErpQuality" >
    <id column="QUA_ID" property="quaId" jdbcType="VARCHAR" />
    <result column="INDENT_ID" property="indentId" jdbcType="VARCHAR" />
    <result column="PURC_ID" property="purcId" jdbcType="VARCHAR" />
    <result column="QUA_SREIAL" property="quaSreial" jdbcType="VARCHAR" />
    <result column="PURC_SERIAL" property="purcSerial" jdbcType="VARCHAR" />
     <result column="INDENT_NUMBER" property="indentNumber" jdbcType="VARCHAR" />
    <result column="QUA_QC" property="quaQc" jdbcType="VARCHAR" />
    <result column="QUA_GOOD" property="quaGood" jdbcType="INTEGER" />
    <result column="QUA_BAB" property="quaBab" jdbcType="INTEGER" />
    <result column="QUA_ISVA" property="quaIsva" jdbcType="INTEGER" />
    <result column="ISVA" property="isva" jdbcType="INTEGER" />
    <result column="CREATER" property="creater" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    QUA_ID, INDENT_ID, PURC_ID, QUA_SREIAL, QUA_QC, QUA_GOOD, QUA_BAB, QUA_ISVA, ISVA, 
    CREATER, CREATETIME, REMARK
  </sql>
  <select id="selectSerial" resultType="java.lang.String" parameterType="java.lang.String">
		select QUA_SREIAL from erp_quality where QUA_SREIAL like
		concat(concat('%', #{date}), '%') ORDER BY CREATETIME DESC LIMIT 1;
  </select>
  <select id="selectByPrimaryNew" resultMap="BaseResultMap" parameterType="map" >
    select *  from erp_quality q
    	<if test="typePri==1">
    		,erp_purchase pu where q.PURC_ID = pu.PURC_ID  
    		<if test="pricer!=null">
	    		(
	    			q.QUA_ISVA= like CONCAT('%',#{pricer},'%' )
	    		)
    		</if>
    		 and q.ISVA=1 ORDER BY q.CREATETIME  DESC  LIMIT #{page},#{limit};
    	</if>
    	<if test="typePri==2">
    		,erp_proindent pr where q.INDENT_ID = pr.INDENT_ID  
    		<if test="pricer!=null">
	    		(
	    			q.QUA_ISVA= like CONCAT('%',#{pricer},'%' )
	    		)
    		</if>
    		 and q.ISVA=1 ORDER BY q.CREATETIME  DESC  LIMIT #{page},#{limit};
    	</if>
  </select>
  <select id="selectByPrimaryNewCount" resultType="int" parameterType="map" >
    select count(*) from erp_quality q 
    	<if test="typePri==1">
    		,erp_purchase pu where q.PURC_ID = pu.PURC_ID  
    		<if test="pricer!=null">
	    		(
	    			q.QUA_ISVA= like CONCAT('%',#{pricer},'%' )
	    		)
    		</if>
    		 and q.ISVA=1;
    	</if>
    	<if test="typePri==2">
    		,erp_proindent pr where q.INDENT_ID = pr.INDENT_ID  
    		<if test="pricer!=null">
	    		(
	    			q.QUA_ISVA= like CONCAT('%',#{pricer},'%' )
	    		)
    		</if>
    		 and q.ISVA=1;
    	</if>
  </select>
 	<!-- 查询单个对象 -->
   <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from erp_quality
    where QUA_ID = #{quaId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from erp_quality
    where QUA_ID = #{quaId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yidu.model.ErpQuality" >
    insert into erp_quality (QUA_ID, INDENT_ID, PURC_ID, 
      QUA_SREIAL, QUA_QC, QUA_GOOD, 
      QUA_BAB, QUA_ISVA, ISVA, 
      CREATER, CREATETIME, REMARK
      )
    values (#{quaId,jdbcType=VARCHAR}, #{indentId,jdbcType=VARCHAR}, #{purcId,jdbcType=VARCHAR}, 
      #{quaSreial,jdbcType=VARCHAR}, #{quaQc,jdbcType=VARCHAR}, #{quaGood,jdbcType=INTEGER}, 
      #{quaBab,jdbcType=INTEGER}, #{quaIsva,jdbcType=INTEGER}, #{isva,jdbcType=INTEGER}, 
      #{creater,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yidu.model.ErpQuality" >
    insert into erp_quality
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="quaId != null" >
        QUA_ID,
      </if>
      <if test="indentId != null" >
        INDENT_ID,
      </if>
      <if test="purcId != null" >
        PURC_ID,
      </if>
      <if test="quaSreial != null" >
        QUA_SREIAL,
      </if>
      <if test="quaQc != null" >
        QUA_QC,
      </if>
      <if test="quaGood != null" >
        QUA_GOOD,
      </if>
      <if test="quaBab != null" >
        QUA_BAB,
      </if>
      <if test="quaIsva != null" >
        QUA_ISVA,
      </if>
      <if test="isva != null" >
        ISVA,
      </if>
      <if test="creater != null" >
        CREATER,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="quaId != null" >
        #{quaId,jdbcType=VARCHAR},
      </if>
      <if test="indentId != null" >
        #{indentId,jdbcType=VARCHAR},
      </if>
      <if test="purcId != null" >
        #{purcId,jdbcType=VARCHAR},
      </if>
      <if test="quaSreial != null" >
        #{quaSreial,jdbcType=VARCHAR},
      </if>
      <if test="quaQc != null" >
        #{quaQc,jdbcType=VARCHAR},
      </if>
      <if test="quaGood != null" >
        #{quaGood,jdbcType=INTEGER},
      </if>
      <if test="quaBab != null" >
        #{quaBab,jdbcType=INTEGER},
      </if>
      <if test="quaIsva != null" >
        #{quaIsva,jdbcType=INTEGER},
      </if>
      <if test="isva != null" >
        #{isva,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yidu.model.ErpQuality" >
    update erp_quality
    <set >
      <if test="indentId != null" >
        INDENT_ID = #{indentId,jdbcType=VARCHAR},
      </if>
      <if test="purcId != null" >
        PURC_ID = #{purcId,jdbcType=VARCHAR},
      </if>
      <if test="quaSreial != null" >
        QUA_SREIAL = #{quaSreial,jdbcType=VARCHAR},
      </if>
      <if test="quaQc != null" >
        QUA_QC = #{quaQc,jdbcType=VARCHAR},
      </if>
      <if test="quaGood != null" >
        QUA_GOOD = #{quaGood,jdbcType=INTEGER},
      </if>
      <if test="quaBab != null" >
        QUA_BAB = #{quaBab,jdbcType=INTEGER},
      </if>
      <if test="quaIsva != null" >
        QUA_ISVA = #{quaIsva,jdbcType=INTEGER},
      </if>
      <if test="isva != null" >
        ISVA = #{isva,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where QUA_ID = #{quaId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yidu.model.ErpQuality" >
    update erp_quality
    set INDENT_ID = #{indentId,jdbcType=VARCHAR},
      PURC_ID = #{purcId,jdbcType=VARCHAR},
      QUA_SREIAL = #{quaSreial,jdbcType=VARCHAR},
      QUA_QC = #{quaQc,jdbcType=VARCHAR},
      QUA_GOOD = #{quaGood,jdbcType=INTEGER},
      QUA_BAB = #{quaBab,jdbcType=INTEGER},
      QUA_ISVA = #{quaIsva,jdbcType=INTEGER},
      ISVA = #{isva,jdbcType=INTEGER},
      CREATER = #{creater,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where QUA_ID = #{quaId,jdbcType=VARCHAR}
  </update>
</mapper>